html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 100vh;
  max-height: 700px;
  width: 80%;
  max-width: 450px;
  /*border: 1px solid red;*/
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde o scrollbar no chrome, safari e opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Esconde o scrollbar no internet explorer, edge e firefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
